In [1]:
print("Hello world")

Hello world

In [2]:
input("enter the name ")

enter the name Aadil Reyaz

'Aadil Reyaz'

In [8]:
a = input("enter the name: ")
b = input("enter the age: ")
print("Hi! This is {} and my age is {}".format(a,b))

enter the name: aadil
enter the age: 22
Hi! This is aadil and my age is 22

In [10]:
a = input("enter the name: ")            # we can add string and variable
b = input("enter the age: ")
print("Hi! This is " + a + " and age is " + b)

enter the name: aadil
enter the age: 22
Hi! This is aadil and age is 22

# Variable

In [16]:
x = "Python is"
y = "awesome"
print(x + " " + y)

Python is awesome

In [18]:
x = 5
y = (str(x))                          #typecasting
print(type(y))                        #type fn

<class 'str'>

In [19]:
x = 12
y = 15
print(x + y)

27

In [20]:
x = 10
x = "Sally"
print(x)

Sally

In [21]:
x = y = z = "Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [22]:
x, y, z = "apple", "banana", "cherry"
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
fruits = ["apple", "Banana", "Cherry"]                          # unpacking from List or tuples
x, y, z = fruits
print(x)
print(y)
print(z)

apple
Banana
Cherry

In [27]:
x = "Aadil" # Global variable

def myfunc():
    print("My name is " + x)
    
myfunc()

My name is Aadil

# String

In [1]:
x = "Python is popular progarmming lanuange which is used Data science and Machine learning"
print(x)

Python is popular progarmming lanuange which is used Data science and Machine learning

In [3]:
a = "Programming"

In [9]:
a[2]

'o'

In [11]:
a[7]

'm'

In [12]:
a[3:8]

'gramm'

In [14]:
a[-4:-2]

'mi'

In [16]:
len(a)

11

In [17]:
x

'Python is popular progarmming lanuange which is used Data science and Machine learning'

In [18]:
"popular" in x # check text

True

In [19]:
"Artificial intelligence" in x

False

In [20]:
y = "I love India and all Indian are talented"
if "love" in y:
    print("I am proud of India")

I am proud of India

In [27]:
y = "I love India and all Indian are talented"
if "like" in y:
    print("I am proud of India")
else:
      print("I love my country")

I love my country

In [38]:
for x in "apple":                                       # looping through x
    print(x)

a
p
p
l
e

In [39]:
a

'Programming'

In [40]:
a.upper()

'PROGRAMMING'

In [42]:
a.lower()

'programming'

In [53]:
z = "Hello world  "
z

'Hello world  '

In [54]:
z.strip()                                          # strip fn removes white space

'Hello world'

In [59]:
z.replace('Hello', 'Hi')

'Hi world  '

In [60]:
z.split()                                         # split fn splits into strings

['Hello', 'world']

In [61]:
p = 25                                            # to add string and integer we use format fn
txt = "He is Mohan and his age is {}."
print(txt.format(p))

He is Mohan and his age is 25.

In [64]:
x = "I am \"King\" in the north. I am loved by people"
print(x)

I am "King" in the north. I am loved by people

In [66]:
x = "I am King in the north. \nI am loved by people"
print(x)

I am King in the north.
I am loved by people

In [71]:
x = "Hello\tworld"
print(x)

Hello	world

In [83]:
x = "Hello \\ world"
print(x)

Hello \ world

In [84]:
y

'I love India and all Indian are talented'

In [87]:
y.find("all")

17

In [91]:
y.count("are")

1

In [93]:
y.index("all")

17

In [94]:
y.casefold()

'i love india and all indian are talented'

In [95]:
y.capitalize()

'I love india and all indian are talented'

# Boolean

In [96]:
5>2

True

In [97]:
2 >3

False

In [98]:
x = 500
y = 300
if y > x:
    print('y is greater than x')
else:
    print("x is greater than y")

x is greater than y

# Operators

In [2]:
5 + 3

8

In [3]:
4-4

0

In [4]:
a = 6
a += 4
a

10

In [5]:
10/2

5.0

In [6]:
11%5           # modulus gives remainder

1

In [7]:
11//5

2

In [8]:
4**4

256

In [9]:
a = 6
a -= 4
a

2

In [10]:
a = 10
a/=5
a

2.0

In [11]:
5 > 7

False

In [12]:
3>1

True

In [13]:
23>6 and 45<56

True

In [14]:
45>23 or 56>5

True

In [15]:
not(45>23 or 56>5)

False

In [16]:
5 !=7

True