# List

In [1]:
myList = [5, 2.0, "Aadil", True]
myList

[5, 2.0, 'Aadil', True]

In [2]:
myList[2]

'Aadil'

In [3]:
myList[1:]

[2.0, 'Aadil', True]

In [4]:
myList[0] = 10
myList

[10, 2.0, 'Aadil', True]

In [5]:
list = ["apple", "Banana", "cherry", "Guava"]
list

['apple', 'Banana', 'cherry', 'Guava']

In [6]:
list[1:3] = ["imran", "asif"]
list

['apple', 'imran', 'asif', 'Guava']

In [7]:
myList.append('apple')
myList

[10, 2.0, 'Aadil', True, 'apple']

In [8]:
myList.pop()
myList

[10, 2.0, 'Aadil', True]

In [9]:
myList.reverse()
myList

[True, 'Aadil', 2.0, 10]

In [10]:
myList

[True, 'Aadil', 2.0, 10]

In [11]:
myList.insert(0, "Iqbal")
myList

['Iqbal', True, 'Aadil', 2.0, 10]

In [12]:
l1 = [23, 43, 2,64,34,22,29,27,38,3]
l1

[23, 43, 2, 64, 34, 22, 29, 27, 38, 3]

In [13]:
l1.sort()
l1

[2, 3, 22, 23, 27, 29, 34, 38, 43, 64]

In [14]:
l2 = [4,9,20,25,17,2]
l1+l2

[2, 3, 22, 23, 27, 29, 34, 38, 43, 64, 4, 9, 20, 25, 17, 2]

In [15]:
l2*2

[4, 9, 20, 25, 17, 2, 4, 9, 20, 25, 17, 2]

In [16]:
l2.sort()
l2

[2, 4, 9, 17, 20, 25]

In [17]:
l2.remove(20)
l2

[2, 4, 9, 17, 25]

In [18]:
l2.pop(3)
l2

[2, 4, 9, 25]

In [ ]:
#list main methods are append(), pop(), remove(), insert(), reverse(), sort(), clear(), copy()

# For & While loop

In [19]:
for x in l2:
    print(x)

2
4
9
25

In [20]:
mylist = [39,23,45,56,32,12,31]
mylist

[39, 23, 45, 56, 32, 12, 31]

In [21]:
i = 0
while i<10:
    print("Yes " + str(i))
    i = i + 1

print("Done")

Yes 0
Yes 1
Yes 2
Yes 3
Yes 4
Yes 5
Yes 6
Yes 7
Yes 8
Yes 9
Done

In [22]:
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

In [23]:
i = 0
while i < 10:
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8
9

In [24]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [25]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [26]:
i = 0
while i < 10:
    if i % 2 == 0:
        print(i)
    i = i + 1

0
2
4
6
8

In [27]:
i = 0
while i < 10:
    if i % 2 == 0:
        print(i)
    i = i + 2

0
2
4
6
8

In [28]:
mylist

[39, 23, 45, 56, 32, 12, 31]

In [29]:
i = 1
while i < len(mylist):
    print(mylist[i])
    
    i = i + 1

23
45
56
32
12
31

# Tuple

In [30]:
t = (2, 5, True, 2.5, "aadil")
t

(2, 5, True, 2.5, 'aadil')

In [31]:
type(t)

tuple

In [32]:
t1 = (2)
t1

2

In [33]:
type(t1)

int

In [34]:
t2 = (3,)                     # to create tuple with single value use comma 
type(t2)

tuple

In [35]:
t

(2, 5, True, 2.5, 'aadil')

In [36]:
t[1]

5

In [37]:
t[-3]

True

In [38]:
t[2:4]

(True, 2.5)

In [39]:
t[-5:]

(2, 5, True, 2.5, 'aadil')

In [40]:
# to update tuple lets convert it into list

In [41]:
#mytuple = ("aadil", "imran", "iqbal")
#x = list(mytuple)
print(x)

25

In [42]:
# Convert the tuple into a list to be able to change values
#x = ("apple", "banana", "cherry")
#y = list(x)
#y[1] = "kiwi"
#x = tuple(y)

print(x)

25

In [43]:
thistuple = ("aadil", "iqbal", "imran")                 #unpacking
x, y, z = thistuple
print(x,y,z)

aadil iqbal imran

In [44]:
for a in thistuple:
    print(a)

aadil
iqbal
imran

In [45]:
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

aadil
iqbal
imran

In [46]:
if "aadil" in thistuple:
    print("yes, He is in the data")

yes, He is in the data

In [47]:
tuple1 = (1, 4, 3,7,9)
tuple2 = ('a','b', 'c', 'd')

In [48]:
tuple1 + tuple2

(1, 4, 3, 7, 9, 'a', 'b', 'c', 'd')

In [49]:
tuple1*2 + tuple2

(1, 4, 3, 7, 9, 1, 4, 3, 7, 9, 'a', 'b', 'c', 'd')

In [50]:
                                   #python has on two built in tuple methods; count() & index()

In [51]:
tuple1.count(4)

1

In [52]:
tuple2.index('d')

3

# Set

In [53]:
myset = {0,5,2,1,True, 5, 3, 9, 10, 2}
myset

{0, 1, 2, 3, 5, 9, 10}

In [54]:
s1 = {3,8,13,11}

In [55]:
myset.update(s1)
myset

{0, 1, 2, 3, 5, 8, 9, 10, 11, 13}

In [56]:
myset.add('apple')
myset

{0, 1, 10, 11, 13, 2, 3, 5, 8, 9, 'apple'}

In [57]:
myset.update(['cherry', 'mango', 'banana'])
myset

{0, 1, 10, 11, 13, 2, 3, 5, 8, 9, 'apple', 'banana', 'cherry', 'mango'}

In [58]:
myset.remove('banana')
myset

{0, 1, 10, 11, 13, 2, 3, 5, 8, 9, 'apple', 'cherry', 'mango'}

In [59]:
myset.discard('mango')
myset

{0, 1, 10, 11, 13, 2, 3, 5, 8, 9, 'apple', 'cherry'}

In [60]:
myset.pop()                # pop can remove random value since it is unordered
myset

{1, 10, 11, 13, 2, 3, 5, 8, 9, 'apple', 'cherry'}

In [61]:
for a in myset:
    print(a)

1
2
3
5
8
9
10
11
13
apple
cherry

In [67]:
#i = 0                      # while loop doesn't work in set
#while i < len(myset):
   # print(myset[i])
    #i = i + 1

In [68]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,9,11,23,35}

In [69]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 9, 11, 23, 35}

In [70]:
s1.intersection(s2)

{3, 4, 5, 6}

In [ ]:
# Set main methods are add(), pop(), remove(), update(), copy(), clear(), union() & intersection()

# Dictionary

In [1]:
mydict = {"Aadil": 10, "Iqbal": 20, "Imran": 30, "Asif": 40}

In [2]:
mydict

{'Aadil': 10, 'Iqbal': 20, 'Imran': 30, 'Asif': 40}

In [3]:
type(mydict)

dict

In [5]:
mydict.keys()

dict_keys(['Aadil', 'Iqbal', 'Imran', 'Asif'])

In [6]:
mydict.values()

dict_values([10, 20, 30, 40])

In [8]:
mydict['Chunnu'] = 50

In [9]:
mydict

{'Aadil': 10, 'Iqbal': 20, 'Imran': 30, 'Asif': 40, 'Chunnu': 50}

In [10]:
mydict["perwez"] = 60

In [11]:
mydict

{'Aadil': 10, 'Iqbal': 20, 'Imran': 30, 'Asif': 40, 'Chunnu': 50, 'perwez': 60}

In [13]:
mydict["perwez"]=100
mydict

{'Aadil': 10,
 'Iqbal': 20,
 'Imran': 30,
 'Asif': 40,
 'Chunnu': 50,
 'perwez': 100}

In [14]:
d2 = {"Asfaque": 200,
      "Aftab": 500}
d2

{'Asfaque': 200, 'Aftab': 500}

In [17]:
mydict.update(d2)

In [18]:
mydict

{'Aadil': 10,
 'Iqbal': 20,
 'Imran': 30,
 'Asif': 40,
 'Chunnu': 50,
 'perwez': 100,
 'Asfaque': 200,
 'Aftab': 500}

In [25]:
mydict.pop("Aftab")
mydict

{'Aadil': 10,
 'Iqbal': 20,
 'Imran': 30,
 'Asif': 40,
 'Chunnu': 50,
 'perwez': 100,
 'Asfaque': 200}

In [28]:
d3 = {"Irfan": 300}
d3

{'Irfan': 300}

In [29]:
mydict["Aadil"]

10

# Loop

In [30]:
for x in mydict:                    # To print all keys
    print(x)

Aadil
Iqbal
Imran
Asif
Chunnu
perwez
Asfaque

In [31]:
for y in mydict:                     # To print all values
    print(mydict[y])

10
20
30
40
50
100
200

In [33]:
for x,y in mydict.items():          # To print all items
    print(x,y)

Aadil 10
Iqbal 20
Imran 30
Asif 40
Chunnu 50
perwez 100
Asfaque 200

In [34]:
for z in mydict.values():
    print(z)

10
20
30
40
50
100
200

In [36]:
                                         # to copy a dict into another dict
thisdict = mydict.copy()
thisdict

{'Aadil': 10,
 'Iqbal': 20,
 'Imran': 30,
 'Asif': 40,
 'Chunnu': 50,
 'perwez': 100,
 'Asfaque': 200}

In [38]:
d4 = {"Amit": 500, "Arman": 700, "Preeti":{"a":5, "b":10}}       # Nested Dictionary
d4

{'Amit': 500, 'Arman': 700, 'Preeti': {'a': 5, 'b': 10}}

In [ ]:
# dictionary main methods are pop(), update(), items(), keys(), values(), copy(), clear()

# Functions

In [41]:
def myfunc():
    print("Hi, This is Aadil")
    
myfunc()

Hi, This is Aadil

In [55]:
def my_func(name):
    print('Hello ' +name)
    
my_func("Aadil")

Hello Aadil

In [56]:
my_func("Asif")

Hello Asif

In [1]:
def thisfunc(square):
    print(square*square)
    
thisfunc(5)

25

In [2]:
def myFunc(x):
    print(x+10)
    
myFunc(23)

33

In [3]:
def odd(y):
    if y%2 != 0:
        print("This is a odd number")
        
odd(45)

This is a odd number

In [7]:
def even(e):
    if e%2 == 0:
        print("This is a even number")
    else:
        print("This is a odd number")
        
even(21)

This is a odd number

In [8]:
even(22)

This is a even number

In [9]:
def square(x):
    return x**2
square(8)

64

In [10]:
square(19)

361

In [11]:
                                                        # Lambda Function

In [12]:
z = lambda x: x**2

In [13]:
z(19)

361

In [14]:
g = lambda y: y+10
g(47)

57

In [15]:
                                                    # Lambda with filter

In [16]:
l1 = [2,4,8,3,4,7,34,23]

In [20]:
a = list(filter(lambda y: y%2 != 0,l1))

In [21]:
a

[3, 7, 23]

In [23]:
b = list(filter(lambda z: z%2 == 0,l1))
b

[2, 4, 8, 4, 34]

In [24]:
c = list(map(lambda x: x**3, l1))
c

[8, 64, 512, 27, 64, 343, 39304, 12167]