In [1]:
import numpy as np
import pandas as pd

# Creating Series

In [2]:
labels = ['a', 'b', 'c']
list = [10,20,30]
arr = np.array([100,200,300])
d = {'a':10, 'b':20,'c':30}

In [3]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [4]:
pd.Series(list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    100
1    200
2    300
dtype: int32

In [8]:
pd.Series(['aadil', 'imran', 'iqbal'])

0    aadil
1    imran
2    iqbal
dtype: object

In [9]:
pd.Series([sum, len, print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

# Series Using Index

In [10]:
Ser1= pd.Series([10,20,30,40],index = ['Patna', 'Delhi', 'Mumbai', 'Kolkata'])

In [11]:
Ser1

Patna      10
Delhi      20
Mumbai     30
Kolkata    40
dtype: int64

In [12]:
Ser2 = pd.Series([10,20,50,40],index=['Patna','Delhi','Hyderabad','Kolkata'])
Ser2

Patna        10
Delhi        20
Hyderabad    50
Kolkata      40
dtype: int64

In [13]:
Ser1 + Ser2

Delhi        40.0
Hyderabad     NaN
Kolkata      80.0
Mumbai        NaN
Patna        20.0
dtype: float64

In [14]:
Ser1['Patna']

10

In [15]:
Ser2['Kolkata']

40

In [18]:
Ser2[['Patna','Hyderabad']]   # We can pass list of index if we want munltiple data

Patna        10
Hyderabad    50
dtype: int64

In [ ]:
Ser2[3]                  # We can get value using index number

In [ ]:
Ser1 -Ser2

In [ ]:
Ser1*Ser2

# Thank you!