In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd                     # Below are the file location where excel or CSV file should be in

'C:\\Users\\aadil\\DA_Aadil\\03-Pandas'

# Import Excel

In [3]:
data = pd.read_excel('pokemon_data.xlsx')

In [4]:
data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

*** Path given to import excel file***

In [5]:
df = pd.read_excel(r'C:\Users\aadil\Downloads\pokemon_data.xlsx')

In [6]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
df = pd.read_excel(r'C:\Users\aadil\Downloads\Employee Details.xlsx')

In [9]:
df

,Emp. Name,Emp Name,Date of joing,Basic Salary,Dept.,HRA,DA,Total,Status,Total+constant,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,A,2020-02-01,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,OPERATIONS,Count,NaN
1,2.0,B,2020-02-02,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,SALES,OPERATIONS,10.0
2,3.0,C,2020-02-03,8000.0,SALES,800.0,400.0,9200.0,NaN,10200.0,SALES,SALES,3.0
3,4.0,D,2020-02-04,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,NaN,HR,2.0
4,5.0,E,2020-02-05,10000.0,HR,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN
5,6.0,F,2020-02-06,7000.0,OPERATIONS,700.0,350.0,8050.0,NaN,9050.0,NaN,NaN,NaN
6,7.0,G,2020-02-07,15000.0,SALES,1500.0,750.0,17250.0,Tax,18250.0,NaN,NaN,NaN
7,8.0,H,2020-02-08,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN
8,9.0,I,2020-02-09,9500.0,HR,950.0,475.0,10925.0,NaN,11925.0,NaN,NaN,NaN
9,10.0,J,2020-02-10,8500.0,OPERATIONS,850.0,425.0,9775.0,NaN,10775.0,NaN,NaN,NaN
10,11.0,K,2020-02-11,20000.0,OPERATIONS,2000.0,1000.0,23000.0,Tax,24000.0,NaN,NaN,NaN
11,12.0,L,2020-02-12,10000.0,SALES,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN
12,13.0,M,2020-02-13,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN
13,14.0,N,2020-02-14,8200.0,OPERATIONS,820.0,410.0,9430.0,NaN,10430.0,NaN,NaN,NaN
14,15.0,O,2020-02-15,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN
15,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaT,NaN,constant,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.head()

,Emp. Name,Emp Name,Date of joing,Basic Salary,Dept.,HRA,DA,Total,Status,Total+constant,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,A,2020-02-01,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,OPERATIONS,Count,NaN
1,2.0,B,2020-02-02,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,SALES,OPERATIONS,10.0
2,3.0,C,2020-02-03,8000.0,SALES,800.0,400.0,9200.0,NaN,10200.0,SALES,SALES,3.0
3,4.0,D,2020-02-04,10000.0,OPERATIONS,1000.0,500.0,11500.0,Tax,12500.0,NaN,HR,2.0
4,5.0,E,2020-02-05,10000.0,HR,1000.0,500.0,11500.0,Tax,12500.0,NaN,NaN,NaN

# Import CSV

In [11]:
df = pd.read_csv('Employee Details.csv')

In [12]:
df

,Emp. Name,Emp Name,Date of joing,Basic Salary,Dept.,HRA,DA,Total,Status,Total+constant,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,A,01-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",OPERATIONS,Count,NaN
1,2.0,B,02-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",SALES,OPERATIONS,10.0
2,3.0,C,03-02-2020,"Rs. 8,000.00",SALES,Rs. 800.00,Rs. 400.00,"Rs. 9,200.00",NaN,"Rs. 10,200.00",SALES,SALES,3.0
3,4.0,D,04-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,HR,2.0
4,5.0,E,05-02-2020,"Rs. 10,000.00",HR,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,NaN,NaN
5,6.0,F,06-02-2020,"Rs. 7,000.00",OPERATIONS,Rs. 700.00,Rs. 350.00,"Rs. 8,050.00",NaN,"Rs. 9,050.00",NaN,NaN,NaN
6,7.0,G,07-02-2020,"Rs. 15,000.00",SALES,"Rs. 1,500.00",Rs. 750.00,"Rs. 17,250.00",Tax,"Rs. 18,250.00",NaN,NaN,NaN
7,8.0,H,08-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,NaN,NaN
8,9.0,I,09-02-2020,"Rs. 9,500.00",HR,Rs. 950.00,Rs. 475.00,"Rs. 10,925.00",NaN,"Rs. 11,925.00",NaN,NaN,NaN
9,10.0,J,10-02-2020,"Rs. 8,500.00",OPERATIONS,Rs. 850.00,Rs. 425.00,"Rs. 9,775.00",NaN,"Rs. 10,775.00",NaN,NaN,NaN
10,11.0,K,11-02-2020,"Rs. 20,000.00",OPERATIONS,"Rs. 2,000.00","Rs. 1,000.00","Rs. 23,000.00",Tax,"Rs. 24,000.00",NaN,NaN,NaN
11,12.0,L,12-02-2020,"Rs. 10,000.00",SALES,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,NaN,NaN
12,13.0,M,13-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,NaN,NaN
13,14.0,N,14-02-2020,"Rs. 8,200.00",OPERATIONS,Rs. 820.00,Rs. 410.00,"Rs. 9,430.00",NaN,"Rs. 10,430.00",NaN,NaN,NaN
14,15.0,O,15-02-2020,"Rs. 10,000.00",OPERATIONS,"Rs. 1,000.00",Rs. 500.00,"Rs. 11,500.00",Tax,"Rs. 12,500.00",NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,constant,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Import html

In [13]:
#df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list.html')

In [14]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

In [ ]:
df1 =pd.read_html(url)

In [ ]:
df1[1]

In [ ]:
#link = 'https://www.nseindia.com/market-data/new-52-week-high-low-equity-market'

In [ ]:
#df2 = pd.read_html(link)